/data/*
/data
W1/D3/AnimalFaces32x32/*
W1/D3/AnimalFaces32x32/


W1/D5/MNIST/*
W1/D5/MNIST/

W2/EMNIST/*
W2/EMNIST/

W2/images/*
W2/images/

W2/afhq_10_32x32/
W2/afhq_random_32x32/

W2/afhq_10_32x32/*
W2/afhq_random_32x32/*


W2/afhq/
W2/afhq/*


FashionMNIST/
W2/FashionMNIST/
W2/afhq_random_32x32.zip
afhq/

FashionMNIST/*
W2/FashionMNIST/*

afhq/*
